@use "../mixins/namespace" as *;

// 自定义 ElementPlus 亮色主题
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "white": #ffffff,
    "black": #000000,
    "primary": (
      "base": #395ae3,
    ),
    "success": (
      "base": #0b9e40,
    ),
    "warning": (
      "base": #e68a00,
    ),
    "danger": (
      "base": #d93126,
    ),
    "error": (
      "base": #dd5c27,
    ),
    "info": (
      "base": #5c667a,
    ),
  ),
  $messagebox: (
    "border-radius": "10px",
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
  --#{$el-namespace}-text-color-primary: var(--#{$teek-namespace}-text-gray-800) !important;
  --#{$el-namespace}-text-color-regular: var(--#{$teek-namespace}-text-gray-700) !important;
  --#{$el-namespace}-text-color-secondary: var(--#{$teek-namespace}-text-gray-600) !important;
  --#{$el-namespace}-text-color-placeholder: var(--#{$teek-namespace}-text-gray-500) !important;
  --#{$el-namespace}-text-color-disabled: var(--#{$teek-namespace}-text-gray-400) !important;
  --#{$el-namespace}-bg-color: var(--#{$teek-namespace}-bg-color) !important;
  --#{$el-namespace}-bg-color-overlay: var(--#{$teek-namespace}-bg-color) !important;
  --#{$el-namespace}-bg-color-page: var(--#{$teek-namespace}-bg-color-page) !important;

  // 功能色覆盖
  --#{$el-namespace}-color-primary: var(--#{$teek-namespace}-color-primary) !important;
  --#{$el-namespace}-color-success: var(--#{$teek-namespace}-color-success) !important;
  --#{$el-namespace}-color-warning: var(--#{$teek-namespace}-color-warning) !important;
  --#{$el-namespace}-color-danger: var(--#{$teek-namespace}-color-danger) !important;
  --#{$el-namespace}-color-error: var(--#{$teek-namespace}-color-error) !important;
}
