@use "@styles/mixins/bem" as *;
@use "@styles/mixins/function" as *;

@include b(vertical-layout) {
  /* 折叠按钮添加左间距 */
  @include el-joins(header) {
    padding-left: 10px !important;
  }

  @include e(drawer-model) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: block;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 50%);
    transition: opacity 0.2s ease-in-out;
  }

  @media (max-width: $device-tablet) {
    @include joins(layout-aside) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      display: flex;
      height: 100vh;
      overflow: auto;
      user-select: none;
      scrollbar-width: none;
    }

    @include is(menu-collapse) {
      @include joins(layout-aside) {
        width: 0 !important;
      }
    }
  }
}
